<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790593932141-6dgkmppgb8qu05caeel7t5cd1k3jhemf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790593932141-6dgkmppgb8qu05caeel7t5cd1k3jhemf</string>
	<key>API_KEY</key>
	<string>AIzaSyDA-zoA-EzYWdRJpTNLnp20uaWn1g2w60s</string>
	<key>GCM_SENDER_ID</key>
	<string>790593932141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coba</string>
	<key>PROJECT_ID</key>
	<string>wanderer-3e072</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderer-3e072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790593932141:ios:06c62fb8e7cb0d962aa864</string>
</dict>
</plist>